body {
    padding-top: 60px;
    font-family: 'Jura', sans-serif;
}

.nav-up {
    top: -51px;
}

nav {
    top: 0;
    transition: top 0.3s ease-in-out;
}

.my_brand1 {
    margin-top: -3px;
    margin-left: 5px;
    margin-right: 5px;
}

.my_brand {
    animation: preloader 1.5s infinite linear;
    -webkit-animation: preloader 1.5s infinite linear;
    -moz-animation: preloader 1.5s infinite linear;
    -ms-animation: preloader 1.5s infinite linear;
    -o-animation: preloader 1.5s infinite linear;
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
}

@-webkit-keyframes preloader {
    25% {-webkit-transform: rotate(35deg);}
    75% {-webkit-transform: rotate(-35deg);}
}
@-moz-keyframes preloader {
    25% {-moz-transform: rotate(35deg);}
    75% {-moz-transform: rotate(-35deg);}
}
@-ms-keyframes preloader {
    25% {-ms-transform: rotate(35deg);}
    75% {-ms-transform: rotate(-35deg);}
}
@-o-keyframes preloader {
    25% {-o-transform: rotate(35deg);}
    75% {-o-transform: rotate(-35deg);}
}
@keyframes preloader {
    25% {transform: rotate(35deg);}
    75% {transform: rotate(-35deg);}
}

.my_main {
    font-size: 20px;
}

.my_header {
    font-size: 45px;
}

.my_subheader {
    font-size: 40px;
}

.my_catalogue1 {
    font-size: 35px;
}

.my_catalogue2 {
    color: black;
    font-size: 30px;
}

.my_mail {
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.my_contact a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 3%;
    background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
}
.my_contact a:hover {
    font-weight: bold;
    color: black;
    border: 1px #5cb85c solid;
    background-image: linear-gradient(white, white);
}

.social {
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.social:hover {
    transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
}

.my_footer {
    color: darkgrey;
    border: 0;
    font-size: 20px;
}
